<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>
  
  <!-- Main -->
  <main class="home">
    <div id="fullpage">
    <!------ Seccion 1 ------->
      <section class="section s1">
        <div class="relative text-center md:text-left md:ml-12">
          <h2 class="text-5xl md:text-7xl lg:text-7xl">new arrivals</h2>
          <!--<a href="#">mira</a>-->
        </div>
      </section>

    <!------ Seccion 2 ------->
      <section class="section s2">
        <div class="link-sale">
          <h2 class="text-4xl md:text-5xl">sentite libre</h2>
          <a href="">mira todas nuestras ofertas</a>
        </div>
        <video loop muted data-autoplay class="bg-video">
          <source src="images/production ID_4734797.mp4" type="video/mp4">
        </video>
      </section>

    <!------ Seccion 3 ------->
      <section class="section s3">

    <!-- Slide1 -->
        <article id="categorias-mujer" class="slide mujer">
          <h2 class="text-center text-xl mt-3">nuestras categorias</h2>
         <div class="grid grid-cols-10 grid-rows-5  w-10/12 mx-auto h-3/4 mt-5 gap-2 text-center text-xs">
            
            <a href="/products/subcategory/all/<%= mujerSub[6].id%>" class="col-span-3 row-span-3 w-full ">
              <p class="text-center "><%=mujerSub[6].subcategory%></p>
                <img class="hidden sm:inline-block" src="images/panta_slouchy_all_brown98791.jpg" alt="">
                <!--<img class="hidden sm:inline-block" src="images/remera_copia_6065121117.jpg" alt="">-->
            </a>

            <a href="/products/subcategory/all/<%= mujerSub[3].id%>" class="col-span-3 row-span-2">
              <p class="text-center "><%=mujerSub[3].subcategory%></p>
              <img class="hidden sm:inline-block" src="images/30107580089947.jpg" alt="">
            </a>

            <a href="/products/subcategory/all/<%= mujerSub[2].id%>" class="col-span-4 row-span-1">
              <p class="text-center "><%=mujerSub[2].subcategory%></p>
            </a>

            <a href="/products/subcategory/all/<%= mujerSub[5].id%>" class="col-span-4 row-span-1">
              <p class="text-center "><%=mujerSub[5].subcategory%></p>
            </a>

            <a href="" class="col-span-4 row-span-1">
              <p class="text-center ">mujeres</p>
            </a>

            <a href="#categorias-hombre" class="col-span-3">
              <p class="text-center ">===>>></p>
            </a>

            <a href="/products/subcategory/all/<%= mujerSub[4].id%>" class="col-span-4 row-span-2">
              <p class="text-center "><%=mujerSub[4].subcategory%></p>
              <img class="hidden sm:inline-block" src="images/campera_copia_170299214portada.jpg" alt="">
            </a>

            <a href="/products/subcategory/all/<%= mujerSub[0].id%>" class="col-span-3 row-span-2">
              <p class="text-center"><%=mujerSub[0].subcategory%></p>
              <img class="hidden sm:inline-block" src="images/remera_copia_6065121117.jpg" alt="">
            </a>

            <a href="/products/subcategory/all/<%= mujerSub[1].id%>" class="col-span-3 row-span-2">
              <p class="text-center "><%=mujerSub[1].subcategory%></p>
              <img class="hidden sm:inline-block" src="images/top_copia_030289857portada_.jpg" alt="">
            </a>
         </div>
        </article>

      <!-- Slide2 -->
        <article id="categorias-hombre" class="slide hombre">
          <h2 class="text-center text-xl mt-3">nuestras categorias</h2>
         <div class="grid grid-cols-6 grid-rows-5  w-10/12 mx-auto h-3/4 mt-5 gap-2 text-center text-xs">
            
            <a href="/products/subcategory/all/<%= hombreSub[0].id %> " class="col-span-2 row-span-2">
              <p class="text-center "><%= hombreSub[0].subcategory %></p>
              <img class="inline-block" src="images/dc-shoes-7993-463875-1-zoom.jpg" alt="">
            </a>
            <a href="/products/subcategory/all/<%= hombreSub[1].id %> " class="col-span-2 row-span-2">
              <p class="text-center "><%= hombreSub[1].subcategory %></p>
              <img class="inline-block" src="images/trooper-3261-388475-1-catalog-new.jpg" alt="">
            </a>
            <a href="/products/subcategory/all/<%= hombreSub[3].id %>" class="col-span-2 row-span-2">
              <p class="text-center "><%= hombreSub[3].subcategory %> </p>
              <img class="inline-block" src="images/rever-pass-5407-120806-1-catalog-new.jpg" alt="">
            </a>
            <a href="#categorias-mujer" class="col-span-1">
              <p class="text-center "><<<===</p>
            </a>
            <a href="" class="col-span-2">
              <p class="text-center ">hombre</p>
            </a>
            <a href="/products/subcategory/all/<%= hombreSub[2].id %>" class="col-span-3 row-span-3">
              <p class="text-center "><%= hombreSub[2].subcategory %> </p>
              <img class="inline-block" src="images/rever-pass-2909-887884-1-zoom.jpg" alt="">
            </a>
            <a href="/products/subcategory/all/<%= hombreSub[4].id %>" class="col-span-3 row-span-2">
              <p class="text-center "><%= hombreSub[4].subcategory %> </p>
            </a>
          <div>

          </div>
        </article>

      </section>

    <!------ Seccion 4 ------->
      <section class="section text-center s4">
        <p class="my-10 text-xl md:text-4xl"><a class="text-white" href="">VISITANOS</a></p>
          <div class="iconosF">
            <p><a href="" class="text-white"><i class="fab fa-instagram text-2xl md:text-5xl"></i></a></p>
            <p><a href="" class="text-white"><i class="fab fa-facebook-f text-2xl md:text-5xl"></i></a></p>
            <p><a href="" class="text-white"><i class="fab fa-twitter text-2xl md:text-5xl"></i></a></p>
            <p><a href="" class="text-white"><i class="fab fa-whatsapp text-2xl md:text-5xl"></i></a></p>
            <p><a href="" class="text-white"><i class="fab fa-pinterest text-2xl md:text-5xl"></i></a></p>
          </div>
          <div class="pie my-10 text-xs">
            <a class="mx-3 md:text-xl" href="" >CONTACTANOS</a> 
            <a class="mx-3 md:text-xl" href="">TERMINOS Y PRIVACIDAD</a>
            <a class="mx-3 md:text-xl" href="">AYUDA</a>
          </div>
      </section>
    </div>
  </main>
            
<!-- Agregamos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.js"></script>
<!-- Agregamos -->
<script src="javascripts/index.js"></script>
<script src="javascripts/header.js"></script>
</body>
</html>