<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>

  <main class="home" id="fullpage">
      <!-- Section 1 -->
      <section class="section s1"></section>

      <!-- Section 2 -->
      <section id="categorias-mujer"class="section s2">

        <article class="mt-12 w-3/4 mx-auto h-3/4 my-auto mt-20">
            <h2 class="text-center text-2xl">Categories</h2>
            <div class="mujer grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mt-5">

                <div class="flex flex-col text-xl w-full categorias">
                  <% mujerSub.forEach(element =>{ %>
                    <a href="/products/subcategory/all/<%= element.id%>" class=""><%=element.subcategory%></a>
                  <% } )%>
                </div>

                <a href="" class="imagen hidden sm:inline-block">
                  <img src="images/top_030289857portada_.jpg" alt="" class="w-full">
                </a>

                <a href="" class="imagen hidden lg:inline-block">
                  <img src="images/301205882_0202102504_portada.jpg" alt="" class="w-full">
                </a>

            </div>
        </article>
      
      </section>

      <!-- Section 3 -->
      <section id="categorias-hombre"class="section s3">

        <article class="mt-12 w-3/4 mx-auto h-3/4 my-auto mt-20">
            <h2 class="text-center text-2xl">Categories</h2>
            <div class="mujer grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mt-5">

              <div class="flex flex-col text-xl w-full categorias">
                  <% hombreSub.forEach(element =>{ %>
                    <a href="/products/subcategory/all/<%= element.id%>" class=""><%=element.subcategory%></a>
                  <% } )%>
              </div>

              <a href="" class="imagen hidden sm:inline-block">
                  <img src="images/0072555400_2_1_1.jpg" alt="" class="w-full">
              </a>

              <a href="" class="imagen hidden lg:inline-block">
                  <img src="images/0072555400_2_4_1.jpg" alt="" class="w-full">
              </a>

            </div>
        </article>
    
      </section>

    <!------ Seccion 4 ------->
      <section id="sobreLife" class="section text-center s4">
        <article class="text-xl w-10/12 mx-auto  h-auto my-10">
        <h2 class="text-xl text-white my-10">Sobre life</h2>
        <p class="text-xs md:text-xl text-white my-10">life is a brand that tries to remove the typical clothing stereotypes based on 4 factors: design, price, quality and enjoyment.
          We are inspired by garments both extravagant and basic and comfortable but with great designs.
          we take very seriously when it comes to durability and quality of our products in the same way we try to follow an ecological trend</p>
        <p class="my-5 text-xl md:text-4xl"><a class="text-white" href="">VISIT US</a></p>
          <div class="iconosF">
            <p><a href="https://www.instagram.com/life.byjdb/?igshid=1ldeo007ogrnq" class="text-white"><i class="fab fa-instagram text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://www.facebook.com/Life-104740501730295" class="text-white"><i class="fab fa-facebook-f text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://twitter.com/Life56435291" class="text-white"><i class="fab fa-twitter text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://api.whatsapp.com/send?phone= +543875530175" class="text-white"><i class="fab fa-whatsapp text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://ar.pinterest.com/Life_byJDB/?invite_code=b20cdfb7da924171a74e143361003c4b&sender=959337295532536597" class="text-white"><i class="fab fa-pinterest text-2xl md:text-5xl"></i></a></p>
          </div>
          <div class="pie my-5 text-xs">
            <a class="mx-3 md:text-xl" href="" >CONTACTANOS</a> 
            <a class="mx-3 md:text-xl" href="">TERMINOS Y PRIVACIDAD</a>
            <a class="mx-3 md:text-xl" href="">AYUDA</a>
          </div>
        </article>
      </section>
    
  </main>
            
<!-- Agregamos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.js"></script>
<!-- Agregamos -->
<script src="javascripts/index.js"></script>
<script src="javascripts/header.js"></script>
</body>
</html>