<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>
  <!-- Main -->
  <main class="mt-24 grid grid-cols-2 perfil mx-4 sm:mx-1 md:mx-7 lg:mx-36 xl:mx-44">
    <div class="col-span-2 text-center my-4">
      <h2 class="py-4 text-2xl sm:text-3xl md:text-3xl underline">¡HOLA! <%= user.name %></h2>
    </div>
    <div class="col-span-2 sm:col-span-1 w-3/5 mt-10 mx-auto ">
      <img src="/images/avatars/<%= user.avatar %>" alt="" class="w-3/4 rounded-full mx-auto border border-purple-500 ">
  
    </div> 

    <div class="col-span-2 sm:col-span-1">
      <h3 class="font-bold py-1 md:pt-5 lg:pt-8 text-xl text-center ">Mis datos</h3>
      <div class="grid grid-cols-1 text-center">
        <div class="grid grid-cols-3 dato">
          <p class="col-span-1">Nombre : </p> <span><%= user.name %></span>
        </div>
        <div class="grid grid-cols-3 dato">
          <p class="col-span-1">Apellido : </p> <span><%= user.surname %></span>
        </div>
        <div class="grid grid-cols-3 dato">  
          <p class="col-span-1">E-mail : </p> <span><%= user.email %></span>
        </div> 
        <div class="grid grid-cols-3 dato">  
          <p class="col-span-1">Telefono: </p> <span><%= user.phone %></span>
        </div> 
        <div class="grid grid-cols-2mt-3">
          <form action="/profile/delete/:id">
            <button type="submit" class="boton  ">Eliminar cuenta</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-span-2 text-center my-5">
      <h3 class="font-bold py-4 sm:pt-10 text-xl text-center ">Informacion adicional</h3>
      <div class="grid grid-cols-1 text-center">
        <div class="grid grid-cols-1 dato">
         
         <!-- component -->
          <!--<div class="bg-gray-100 mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24  mb-24"> -->
          <form>
            <div class="bg-white  rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
              <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3 mb-6 md:mb-0">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Ej:Los Andes">
                    Calle*
                  </label>
                  <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="street" type="text" placeholder="Ej:Los Andes" value="<%= (typeof old != 'undefined' && old.street) ? old.street : ""%>">
                  <span class="errores"  id="streetErrors">  <%= (typeof errores != 'undefined' && errores.street) ? errores.street.msg : "" %></span>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                    Numero*
                  </label>
                  <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="number" type="text" placeholder="Ej:123" value="<%= (typeof old != 'undefined' && old.number) ? old.number : ""%>">
                  <span class="errores"  id="numberErrors">  <%= (typeof errores != 'undefined' && errores.number) ? errores.number.msg : "" %></span>
                </div>
              </div>
              <div class="-mx-3 md:flex mb-2">
                <div class="-mx-3 md:flex mb-6 md:mb-0">
                  <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-city">
                      Dpto
                    </label>
                    <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="depto" type="text" placeholder="Ej:123" value="<%= (typeof old != 'undefined' && old.depto) ? old.depto : ""%>">
                    <span class="errores"  id="deptoErrors">  <%= (typeof errores != 'undefined' && errores.depto) ? errores.depto.msg : "" %></span>
                  </div>
                  <div class="md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                      Piso
                    </label>
                     <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="piso" type="text" placeholder="Ej:123"value="<%= (typeof old != 'undefined' && old.piso) ? old.piso : ""%>">
                     <span class="errores"  id="pisoErrors">  <%= (typeof errores != 'undefined' && errores.piso) ? errores.piso.msg : "" %></span>
                    <div class="relative">
                    </div>
                  </div>
                  <div class="md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-zip">
                      C.P
                    </label>
                    <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="ZipCode" type="text" placeholder="Ej:123"value="<%= (typeof old != 'undefined' && old.zipCode) ? old.zipCode : ""%>">
                    <span class="errores"  id="zipCodeErrors">  <%= (typeof errores != 'undefined' && errores.zipCode) ? errores.zipCode.msg : "" %></span>
                  </div>
                </div>
             </div>
              <div class="-mx-3 md:flex mb-2">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-3" for="location">
                    Pais*
                  </label>
                  <div>
                    <select name = "country" id="country" value="<%= (typeof old != 'undefined' && old.piso) ? old.piso : ""%>"class="w-full bg-purple-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" >
                      <option>Argentina</option>
                      <option>Armenia</option>
                      <option>Angola</option>
                    </select>
                    <span class="errores"  id="countryErrors">  <%= (typeof errores != 'undefined' && errores.country) ? errores.country.msg : "" %></span>
                  </div>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="job-type">
                    Provincia/Estado*
                  </label>
                  <div>
                    <select class="w-full bg-purple-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="state">
                      <option>Buenos Aires</option>
                      <option>Cordoba</option>
                      <option>Salta</option>
                    </select>
                  </div>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="department">
                    Ciudad*
                    <div>
                      <select class="w-full bg-purple-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="department">
                        <option>Capital Federal</option>
                        <option>Cordoba</option>
                        <option>Salta Capital</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="-mx-3 md:flex mt-2">
            <div class="md:w-full px-3">
              <a href="profile/edit/ <%= user.name %>"class="md:w-1/4 bg-black text-white font-bold py-1 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-lg">
                Editar Perfil </button> </a>   
            </div>
          </div>
        <!-- <p>Direccion : </p> <span>"<"</span>
        </div>
        <div class="grid grid-cols-2 dato">
          <p>Pais : </p><span>""</span>
        </div>
        <div class="grid grid-cols-2 dato">
          <p>Codigo postal : </p> <span>""</span>
        </div>
        <div class="grid grid-cols-2 dato">  
          <p>Telefono fijo : </p> <span>""</span>
        </div> 
        <div class="grid grid-cols-2 dato">  
          <p>Telefono movil : </p> <span>""</span>
        </div> 
      </div>
      <div class="grid grid-cols-1" >
        <a href="profile/Edit" class="boton-adicional">Editar informacion adicional</a>
      </div>
    </div>-->

  </main>

  <!-- Footer -->
  <%- include("./partials/footer") %>
</body>
</html>