<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <header class="fixed z-50 top-0 w-full header">
    <div class="relative">
      <nav class="flex w-full nav">
  
        <div class="block lg:hidden">
          <button id='boton' class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3 md:h-5 md:w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
  
        <div class="block lg:order-first lg:mr-5">
          <a class=" " href="/"><img src="/images/Group.svg" alt=""></a>
        </div>
  
        <div class="block lg:flex lg:items-center lg:order-2 nav-icons">
          <div class="text-sm lg:flex-grow">
            <span id="search"><i class="fas fa-search md:text-2xl"></i></span>
            <span id="user"><i class="far fa-user md:text-2xl"></i></span>
            <span id="cart" ><i class="fas fa-shopping-cart md:text-2xl"></i></span>
          </div>
        </div>
        <div id='menu-extendido' class="w-full block flex-grow lg:order-1 lg:flex lg:items-center lg:w-auto hidden menu-extendido">
          <div class="text-sm lg:flex-grow">
            <a href="#" class="block lg:inline-block lg:mt-0">lo nuevo</a>
            <a href="/products/product" class="block lg:inline-block lg:mt-0">mujer</a>
            <a href="#" class="block lg:inline-block lg:mt-0">hombre</a>
            <a href="#" class="block lg:inline-block lg:mt-0">sale</a>
            <a href="#" class="block lg:inline-block lg:mt-0">sobre life</a>
          </div>
        </div>
      </nav>
  
      <div id='search-extendido' class="absolute w-full hidden">
        <form action="">
            <input class="input-search" type="text" placeholder="Buscar">
        </form>
      </div>
  
      <div id="user-extendido" class="w-32 md:w-44 nav-usuarios hidden">
        <div class="flex flex-col">
          <p>    <%= user.name %> <%= user.surname %></p>
          <a class="text-xs md:text-lg" class="cerrar" href="logout">cerrar sesion</a>
        </div>
      </div>
  
      <div id="cart-extendido">
      </div>
    </div>
    <script>
      /* evento click para menu version movil*/
function menuMobile (){
    document.getElementById("menu-extendido").classList.toggle("hidden");
}
document.getElementById("boton").onclick = function() {
    menuMobile();
}

function menuSearch (){
    document.getElementById("search-extendido").classList.toggle("hidden");
}
document.getElementById("search").onclick = function() {
    menuSearch();
}

function menuUser (){
    document.getElementById("user-extendido").classList.toggle("hidden");
}
document.getElementById("user").onclick = function() {
    menuUser();
}

function menuCart (){
    document.getElementById("cart-extendido").classList.toggle("hidden");
}
document.getElementById("cart").onclick = function() {
    menuCart();
}
    </script>
  </header>

  <!-- Main -->
<main class="mt-24 grid grid-cols-2 perfil mx-4 sm:mx-1 md:mx-7 lg:mx-36 xl:mx-44">
  <form action="/account/profile/update/<%= user.id %>?_method=PUT"  method="POST" ></form>
    <div class="col-span-2 text-center my-4">
      <h2 class="py-4 text-2xl sm:text-3xl md:text-3xl underline">Editar Informacion</h2>
    </div>
    <div class="col-span-2 sm:col-span-1 w-3/5 mt-10 mx-auto ">
        <img src="/images/avatars/<%= user.avatar %>" alt="" class="w-3/4 rounded-full mx-auto border border-purple-500" >
            <div class= "grid grid-cols-3">
              <p class=""></p>
              <p class= "col-2 mx-auto mt-2">
             <label 
								for="fileInput"
								type="button"
								class=" cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-purple-200 font-medium"
						   	>
								<svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<rect x="0" y="0" width="24" height="24" stroke="none"></rect>
									<path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
									<circle cx="12" cy="13" r="3" />
								</svg>						
							</label>
            </p>
            </div>
              <div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click para agregar foto de perfil</div>
                <input name="avatar" id="fileInput" name="image" accept="image/*" class="hidden" type="file"  multiple @change="let file = document.getElementById('fileInput').files[0]; 
								var reader = new FileReader();
								reader.onload = (e) => image = e.target.result;
								reader.readAsDataURL(file);">
		</div> 
 
    <div class="col-span-2 sm:col-span-1">
      <h3 class="font-bold py-1 md:pt-5 lg:pt-8 text-xl text-center ">Mis datos</h3>
      <div class="grid grid-cols-1 text-center">
        <div class="grid grid-cols-1 dato">
          <input class="w-full bg-purple-200 text-black border border-gray-200 rounded  px-2 " id="name" type="text" placeholder= <%=user.name %>>
          <span class="errores"  id="nameErrors">  <%= (typeof errores != 'undefined' && errores.name) ? errores.name.msg : "" %></span>
        </div>
        <div class="grid grid-cols-1 dato">
          <input class="w-full bg-purple-200 text-black border border-gray-200 rounded  px-2 " id="surname" type="text" placeholder=<%=user.surname %>>
          <span class="errores"  id="usernameErrors">  <%= (typeof errores != 'undefined' && errores.username) ? errores.username.msg : "" %></span>
        </div>
        <div class="grid grid-cols-1 dato">  
          <input class="w-full bg-purple-200 text-black border border-gray-200 rounded  px-2 " id="email" type="text"  placeholder= <%=user.email %>>
          <span class="errores"  id="emailErrors">  <%= (typeof errores != 'undefined' && errores.email) ? errores.email.msg : "" %></span>
        </div>  
        <div class="grid grid-cols-1 mb-1 dato">  
          <input class="w-full bg-purple-200 text-black border border-gray-200 rounded  px-2 " id="phone" type="text"  placeholder= Telefono:  type="text" placeholder= <%=user.phone %>>
          <span class="errores"  id="phoneErrors">  <%= (typeof errores != 'undefined' && errores.phone) ? errores.phone.msg : "" %></span>
          </div> 
        <div class="grid grid-cols-2 mt-3 ">
          <button type="submit" class="boton">Guardar</button>
            <button type="submit" class="boton ml-3">Eliminar cuenta</button>
        </div>
      </div>
    </div>
  </form>

    <div class="col-span-2 text-center my-5">
      <h3 class="font-bold py-4 sm:pt-10 text-xl text-center ">Informacion adicional</h3>
      <div class="grid grid-cols-1 text-center">
        <div class="grid grid-cols-1 dato">
         
         <!-- component -->
          <!--<div class="bg-gray-100 mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24  mb-24"> -->
          <form action="/account/profile/update/<%= user.id %>?_method=PUT" method="POST"></form>
          <div class="bg-white  rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <div class="-mx-3 md:flex mb-6">
              <div class="md:w-full px-3 mb-6 md:mb-0">
                <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Ej:Los Andes">
                  Calle*
                </label>
                <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="street" type="text" placeholder="Ej:Los Andes" value="<%= (typeof old != 'undefined' && old.street) ? old.street : ""%>">
                <span class="errores"  id="streetErrors">  <%= (typeof errores != 'undefined' && errores.street) ? errores.street.msg : "" %></span>
              </div>
              <div class="md:w-1/2 px-3">
                <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                  Numero*
                </label>
                <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="number" type="number" placeholder="Ej:123" value="<%= (typeof old != 'undefined' && old.number) ? old.number : ""%>">
                <span class="errores"  id="numberErrors">  <%= (typeof errores != 'undefined' && errores.number) ? errores.number.msg : "" %></span>
              </div>
            </div>
            <div class="-mx-3 md:flex mb-2">
              <div class="-mx-3 md:flex mb-6 md:mb-0">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-city">
                    Dpto
                  </label>
                  <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="depto" type="text" placeholder="Ej:123" value="<%= (typeof old != 'undefined' && old.depto) ? old.depto : ""%>">
                  <span class="errores"  id="deptoErrors">  <%= (typeof errores != 'undefined' && errores.depto) ? errores.depto.msg : "" %></span>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                    Piso
                  </label>
                   <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="piso" type="text" placeholder="Ej:123"value="<%= (typeof old != 'undefined' && old.piso) ? old.piso : ""%>">
                   <span class="errores"  id="pisoErrors">  <%= (typeof errores != 'undefined' && errores.piso) ? errores.piso.msg : "" %></span>
                  <div class="relative">
                  </div>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-zip">
                    C.P
                  </label>
                  <input class="w-full bg-purple-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="ZipCode" type="text" placeholder="Ej:123"value="<%= (typeof old != 'undefined' && old.zipCode) ? old.zipCode : ""%>">
                  <span class="errores"  id="zipCodeErrors">  <%= (typeof errores != 'undefined' && errores.zipCode) ? errores.zipCode.msg : "" %></span>
                </div>
              </div>
           </div>
            <div class="-mx-3 md:flex mb-2">
              <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="uppercase tracking-wide text-black text-xs font-bold mb-3" for="location">
                  Pais*
                </label>
                <div>
                  <select name = "country" id="country" value="<%= (typeof old != 'undefined' && old.piso) ? old.piso : ""%>"class="w-full bg-purple-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" >
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Angola</option>
                  </select>
                  <span class="errores"  id="countryErrors">  <%= (typeof errores != 'undefined' && errores.country) ? errores.country.msg : "" %></span>
                </div>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="job-type">
                    Provincia/Estado*
                  </label>
                  <div>
                    <select class="w-full bg-purple-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="state">
                      <option>Buenos Aires</option>
                      <option>Cordoba</option>
                      <option>Salta</option>
                    </select>
                  </div>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="department">
                    Ciudad*
                    <div>
                      <select class="w-full bg-purple-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="department">
                        <option>Capital Federal</option>
                        <option>Cordoba</option>
                        <option>Salta Capital</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="-mx-3 md:flex mt-2">
                  <div class="md:w-full px-3">
                    <a href="profile"class="md:w-1/3 bg-black text-white font-bold py-1 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-full">
                      <button type="submit" >Guardar</button> </a>   
                  </div>
                </div>
              </div>
            </form>
          </div>
        <!-- <p>Direccion : </p> <span>"<"</span>
        </div>
        <div class="grid grid-cols-2 dato">
          <p>Pais : </p><span>""</span>
        </div>
        <div class="grid grid-cols-2 dato">
          <p>Codigo postal : </p> <span>""</span>
        </div>
        <div class="grid grid-cols-2 dato">  
          <p>Telefono fijo : </p> <span>""</span>
        </div> 
        <div class="grid grid-cols-2 dato">  
          <p>Telefono movil : </p> <span>""</span>
        </div> 
      </div>
      <div class="grid grid-cols-1" >
        <a href="profile/Edit" class="boton-adicional">Editar informacion adicional</a>
      </div>
    </div>-->

  </main>

  <!-- Footer -->
  <%- include("./partials/footer") %>
</body>
</html>