<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>
  
  <!-- Main -->
  <main class="mt-24 grid grid-cols-2 perfil w-11/12 mx-auto">
    
    <form class="col-span-2 flex flex-wrap justify-between my-5" action="/account/profile/update/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
      
      <h2 class="w-full py-6 text-2xl md:text-3xl">¡HELLO! <%= user.name %></h2>
      
      <div class="w-full sm:w-1/2 avatar-2 mx-auto">
        <img src="/images/avatars/<%= user.avatar %>" alt="" class="w-full cover">
        <input type="file" name="avatar" id="" value="<%= user.avatar %>" accept="image/png, image/jpg, image/jpeg, image/gif">
      </div>
      
      <div class="flex flex-wrap flex-col w-full sm:w-1/2">
        <h3 class="text-lg">My data</h3>
        
          <div class="my-2">
            <span class="span w-1/4">Name : </span><input  class="input" name="name" type="text" value="<%= user.name %>">
          </div>
          <div class="my-2">
            <span class="span w-1/4">Surname : </span><input  class="input" name="surname" type="text" value="<%= user.surname %>">
          </div>
          <div class="my-2">  
            <span class="span w-1/4">E-mail : </span><input  class="input" name="email" type="email" disabled value="<%= user.email %>">
          </div> 
      </div>

      <div class="flex flex-wrap flex-col sm:flex-row w-full text-center my-5">
        <h3 class="text-lg w-full my-3">Additional Information</h3>
        
        <div class="my-2 w-full sm:w-1/2 sm:px-2">
          <span class="span">Address*</span>
          <input class="input-2" name="address" id="address" type="text" placeholder="Ej:Los Andes" value="<%=user.address%>">
        </div>
        <div class="my-2 w-full sm:w-1/2 sm:px-2">
          <span class="span">Phone*</span>
          <input class="input-2" id="phone" name="phone" type="number" placeholder="Ej:1121764603" value="<%=user.phone%>">
        </div>
        <div class="my-2 w-full sm:w-1/2 sm:px-2">
          <span class="span">Country*</span>
          <input class="input-2 " id="country" name="country" type="text" placeholder="Ej:Argentina" value="<%=user.country%>">
        </div>
        <div class="my-2 w-full sm:w-1/2 sm:px-2">
          <span class="span">City*</span>
          <input class="input-2 " id="state" name="state" type="text" placeholder="Ej:Capital Federal" value="<%=user.state%>">
        </div>
      </div>
      <button type="submit" class="boton shadow-md">update data</button>
    </form>
    <form action="/account/profile/delete/<%= user.id %>?_method=DELETE" method="POST" class="col-span-2">
      <button class="boton shadow-md" type="submit">delete account</button>
    </form>
  </main>

  <!-- Footer -->
  <script src="/javascripts/header.js"></script>
  <%- include("./partials/footer") %>
</body>
</html>