<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')  %> 
<body>   
    <!-- Header -->
    <%- include('../partials/header') %> 
    <main class="admin-form mx-3 mt-32">
      <form action="/admin/product/update/<%= producto.id %>?_method=PUT"  method="POST" enctype="multipart/form-data">
          <h2 class="my-5 text-lg">Edit product</h2>
          <div class="grid grid-cols-1 gap-2">
              <select name="category" id="select-primario" class="select">
                <option selected hidden value="0" >Choose a Category</option>
                <% categorias.forEach(element => { %>
                  <option 
                    <%if (element.id == producto.Subcategory.categoryId) {%>
                      selected
                    <%}%>
                  value=<%=element.id %><% if(typeof oldAdd != 'undefined' && oldAdd.category){%> selected <% } %>><%= element.category %> </option>
                <% }) %>
              </select>
              <span class="text-red-500 text-sm lowercase"><%= (typeof errores != 'undefined' && errores.category) ? errores.category.msg : "" %></span>


              <select name="subcategory" id ="select-secundario" class="select">
                <option hidden selected value="0" >Choose a Subcategory</option>
                <% categorias.forEach(categoria => { %>
                  <% if (categoria.id == producto.Subcategory.categoryId) { %>
                   <% categoria.subcategoria.forEach(element => { %>
                    <option
                    <% if (element.id == producto.Subcategory.id) { %>
                     selected
                    <% } %>
                    value="<%- element.id %>"><%= element.subcategory %></option>
                   <% }) %>
                  <% } %>
                 <% }) %>
              </select>
              <span class="text-red-500 text-sm lowercase"><%= (typeof errores != 'undefined' && errores.subcategory) ? errores.subcategory.msg : "" %></span>


                  <label for="name" >product</label>
                  <input type="text" name="name" value="<%=producto.name%>" autocomplete="off" placeholder="Nombre del producto" value="<%= (typeof old != 'undefined' && old.name) ? old.name : ""%>" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                  <span class="text-red-500 text-sm lowercase"><%= (typeof errores != 'undefined' && errores.name) ? errores.name.msg : "" %></span>
                  
                  <label for="">description</label>
                  <textarea id="about" name="description" rows="3" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent" placeholder="Descripcion....."><%=producto.description %></textarea>
                  <span class="text-red-500 text-sm lowercase"><%= (typeof errores != 'undefined' && errores.description) ? errores.description.msg : "" %></span>
                  
                  <label for="name">price</label>
                  <input type="number" name="price" value="<%=producto.price%>" placeholder="$...." class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                  <span class="text-red-500 text-sm lowercase"><%= (typeof errores != 'undefined' && errores.price) ? errores.price.msg : "" %></span>

                  <label for="name">discount</label>
                  <input type="number" name="discount" value="<%= producto.discount%>" placeholder="10" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                  <span class="text-red-500 text-sm lowercase"><%= (typeof errores != 'undefined' && errores.discount) ? errores.discount.msg : "" %></span>

                  <h3 class="my-1 text-base text-center">Variants by Color</h3>
                  <div id="variantes-producto" class="grid grid-cols-1 md:grid-cols-2"></div>

                  <label for="">Select the images</label>
                  <input id="file-input" type="file" name="image"  value="<%= producto.image %> " multiple>

                <% producto.variantes.forEach(element => { %>
                   
                  <div class="contenedor">
                      <label for="color">color</label>
                      <!--<input type="text" name="color[]" id="color" value=""   autocomplete="off" placeholder="#f0f0f0" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">-->
                      <input type="color" name="color[]" id="color" value="<%=element.color%>" class="h-10">

                      <div class="grid grid-cols-4 gap-2 w-5/6 text-center">
                              
                        <label class="col-span-4 text-left my-1">Sizes - Stock/Quantity</label>
                            <% element.stock.forEach(talle => { %>
                             
                            <b><%= talle.Size.size%> : </b>
                            <input type="number" name="<%=`stock${talle.Size.size}[]`%>"  value="<%=talle.stock %>" placeholder="stock/cantidad" class="leading-5 md:leading-6 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                          <% }) %>
                      </div>
                          <span class="eliminar">Delete</span>
                  </div> 
                <% }) %>
                
          </div>
          <button type="submit" class="boton-enviar py-1 my-2">Save</button>
      </form>
    </main>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/productEdit.js"></script>
</body>
</html>