<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')  %> 
<body>   
    <!-- Header -->
    <%- include('../partials/header') %> 
    <main class="admin-form mx-3 mt-8 sm:mx-12 md:mx-24 mt-32 lg:mx-32">
      <form action="/admin/product/store"  method="POST" enctype="multipart/form-data" >
       
          <h2 class="my-5 text-2xl sm:text-3xl">product load</h2>
          <div class="grid grid-cols-1 gap-2">
              <!--<div class="">-->
                  <select name="category" id="select-primario" class="select">
                    <option selected value="0" >Choose a Category</option>
                    <% categorias.forEach(element => { %>
                      <option value="<%=element.id %>"<% if(typeof oldAdd != 'undefined' && oldAdd.category){%> selected <% } %>><%= element.category %> </option>
                    <% }) %>
                  </select>
                  <span class="text-red-500 text-sm lowercase" id="errorCategory"><%= (typeof errores != 'undefined' && errores.category) ? errores.category.msg : "" %></span>

                  <select name="subcategory" id ="select-secundario" class="select">
                    <option hidden selected value="0" >Choose a Subcategory</option>
                 </select>
                 <span class="text-red-500 text-sm lowercase" id="errorSubcategory"><%= (typeof errores != 'undefined' && errores.subcategory) ? errores.subcategory.msg : "" %></span>

                  <label for="name" >product</label>
                  <input type="text" name="name" id="inputName" autocomplete="off" placeholder="Product name" value="<%= (typeof old != 'undefined' && old.name) ? old.name : ""%>" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                  <span class="text-red-500 text-sm lowercase" id="errorName"><%= (typeof errores != 'undefined' && errores.name) ? errores.name.msg : "" %></span>

                  <label for="">description</label>
                  <textarea name="description" id="inputDescription" rows="3" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent" placeholder="Description....."><%= (typeof old != 'undefined' && old.description) ? old.description : ""%></textarea>
                  <span class="text-red-500 text-sm lowercase" id="errorDescription"><%= (typeof errores != 'undefined' && errores.description) ? errores.description.msg : "" %></span>

                  <label for="name">price</label>
                  <input type="number" name="price" id="inputPrice" placeholder="$...." value="<%= (typeof old != 'undefined' && old.price) ? old.price : ""%>" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                  <span class="text-red-500 text-sm lowercase" id="errorPrice"><%= (typeof errores != 'undefined' && errores.price) ? errores.price.msg : "" %></span>

                  <label for="name">discount</label>
                  <input type="number" name="discount" id="inputDiscount" placeholder="0" value="<%= (typeof old != 'undefined' && old.discount) ? old.discount : ""%>" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                  <span class="text-red-500 text-sm lowercase" id="errorDiscount"><%= (typeof errores != 'undefined' && errores.discount) ? errores.discount.msg : "" %></span>
              
                  <h3 class="my-1 text-base sm:text-lg md:text-xl">Variants by color</h3>
                  <hr>
                  <hr>
                  <div id="variantes-producto" class="grid grid-cols-1 md:grid-cols-2"></div>
                
                  <button id="agregar" class="boton-agregar w-1/3 text-base sm:text-xl">+ add more</button>

                  <label for="">Select the images</label>
                  <input id="file-input" type="file" name="image" multiple>
                  <span class="text-red-500 text-sm lowercase " id="errorFile"></span>
                  <!--<div id="preview"></div>-->

                  <template id="template-variante">
                      <div class="contenedor">
                        <label for="color">Select color</label>
                        <!--<input type="text" name="color[]" id="inputColor" autocomplete="off" placeholder="#f0f0f0" class=" leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">-->
                        <input type="color" name="color[]" id="inputColor" class="h-10">

                          <div class="grid grid-cols-4 gap-2 w-5/6 text-center">
                              
                              <label class="col-span-4 text-left my-1">Sizes - Stock/Quantity</label>

                              <b>S : </b>
                              <input type="number" name="stockS[]" value="0" placeholder="stock/cantidad" class="leading-5 md:leading-6 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">

                              <b>M : </b>
                              <input type="number" name="stockM[]" value="0" placeholder="stock/cantidad" class="leading-5 md:leading-6 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">

                              <b>L : </b>
                              <input type="number" name="stockL[]" value="0" placeholder="stock/cantidad" class="leading-5 md:leading-6 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">

                              <b>XL : </b>
                              <input type="number" name="stockXL[]" value="0" placeholder="stock/cantidad" class="leading-5 md:leading-6 shadow-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                          </div>
                          <!--<span class="eliminar">eliminar</span>-->
                          <!--<input type="file" name="image">-->
                      </div>
                  </template>
                  
              <!--</div>-->
          </div>
          <button type="submit" class="boton-enviar py-1 my-2">save</button>
      </form>
    </main>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/productCreate.js"></script>
   
</body>
</html>